<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accomplishr</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../static/main.js" defer type="module"></script>
</head>
<nav>
  <!--Logo-->
  <a href="/"><img class="dark logo" src="../static/media/logo-dark.png" alt="LOGO"></a>
  <a href="/"><img class="light logo" src="../static/media/logo-light.png" alt="LOGO"></a>
  <!--List-->
  <ul class="navbar-ul">
    <a href="#carouselExampleIndicators">
      <li>ABOUT</li>
    </a>
    <a href="#faq">
      <li>FAQ</li>
    </a>
    <a href="#contact">
      <li>CONTACT</li>
    </a>
    <a href="privacypolicy">
      <li>PRIVACY POLICY</li>
    </a>
  </ul>
</nav>

<!--MAIN-->
<main>
  <!--BG-SHAPE LIGHT-->
  <svg class="bg-shape light" viewBox="0 0 1440 939" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M833.051 -1108.27L2426.57 -682.743L1114.05 506.717L833.051 -1108.27Z" fill="#E4E4E4" />
    <ellipse cx="566.244" cy="-100.803" rx="821.244" ry="815.678" fill="#E4E4E4" />
  </svg>
  <!--BG-SHAPE DARK-->
  <svg class="bg-shape dark" viewBox="0 0 1440 942" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M827.378 -1105.07L2420.9 -679.548L1108.38 509.911L827.378 -1105.07Z" fill="#3D465F" />
    <ellipse cx="560.572" cy="-97.6084" rx="821.244" ry="815.678" fill="#3D465F" />
  </svg>
  <!--Phone Hand-->
  <img class="hand-phone" src="../static/media/hand-phone.png" alt="" srcset="">
  <!--GTD-->
  <p class="GET-THINGS GTD">GET THINGS</p>
  <p class="DONE GTD">DONE</p>
  <!--Get started today-->
 
  <!--Download The App-->
  <div class="download">
    <p>Dowload the App</p>
    <a href="https://play.google.com/store/apps/details?id=com.accomplishr.accomplishr_mobile_app"><img
        src="../static/media/googleplay.png" alt="Download - Google Play"></a>
  </div>
</main>

<!--Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <!--Carousel Items-->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/media/phone.png" alt="First slide">
      <p class="carousel-text-large">Keep Track Of Your Daily Goals And Tasks</p>
    </div>
    <div class="carousel-item">
      <img src="../static/media/fire.png" alt="Second slide">
      <p class="carousel-text-large">Stay Consistent And Become Disciplined</p>
    </div>
    <div class="carousel-item">
      <img src="../static/media/target.png" alt="Third slide">
      <p class="carousel-text-large">Share Your Accomplishments With Your Friends</p>
    </div>
    <div class="carousel-item">
      <img src="../static/media/trophy.png" alt="Fourth slide">
      <p class="carousel-text-large">Become The Best Version Of Yourself</p>
    </div>
  </div>
  <!--Carousel Buttons-->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

<!--Accordion FAQ-->
<div class="faq" id="faq">
  <h3>FAQ</h3>
  <ul class="accordion">
    <li class="accordion-item">
      <input type="radio" name="accordion" id="first" data-status="unchecked">
      <label for="first">What Is Accomplishr?</label>
      <div class="accordion-text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsa laborum non quo sapiente, assumenda
          esse placeat, voluptate harum doloribus excepturi odit est consequatur dolore magni, enim saepe hic. Iure.
          Tempore unde amet nulla iusto dolores maxime ad suscipit! Officia voluptas doloremque maiores maxime a
          placeat, cupiditate dolore iste. Quidem animi labore nihil? Sequi, reprehenderit! Qui consequuntur esse nisi
          deserunt?
          Distinctio quas laborum necessitatibus modi. At voluptatem architecto est ullam deleniti aperiam recusandae
          doloribus? Deserunt repudiandae vitae mollitia facilis sint architecto maiores nemo nam beatae nihil, saepe
          fugiat reprehenderit quos?</p>
      </div>
    </li>
    <li class="accordion-item">
      <input type="radio" name="accordion" id="second" data-status="unchecked">
      <label for="second">Is Accomplishr free to use?</label>
      <div class="accordion-text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsa laborum non quo sapiente, assumenda
          esse placeat, voluptate harum doloribus excepturi odit est consequatur dolore magni, enim saepe hic. Iure.
          Tempore unde amet nulla iusto dolores maxime ad suscipit! Officia voluptas doloremque maiores maxime a
          placeat, cupiditate dolore iste. Quidem animi labore nihil? Sequi, reprehenderit! Qui consequuntur esse nisi
          deserunt?
          Distinctio quas laborum necessitatibus modi. At voluptatem architecto est ullam deleniti aperiam recusandae
          doloribus? Deserunt repudiandae vitae mollitia facilis sint architecto maiores nemo nam beatae nihil, saepe
          fugiat reprehenderit quos?</p>
      </div>
    </li>
    <li class="accordion-item">
      <input type="radio" name="accordion" id="third" data-status="unchecked">
      <label for="third">Is my data secure and private?</label>
      <div class="accordion-text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsa laborum non quo sapiente, assumenda
          esse placeat, voluptate harum doloribus excepturi odit est consequatur dolore magni, enim saepe hic. Iure.
          Tempore unde amet nulla iusto dolores maxime ad suscipit! Officia voluptas doloremque maiores maxime a
          placeat, cupiditate dolore iste. Quidem animi labore nihil? Sequi, reprehenderit! Qui consequuntur esse nisi
          deserunt?
          Distinctio quas laborum necessitatibus modi. At voluptatem architecto est ullam deleniti aperiam recusandae
          doloribus? Deserunt repudiandae vitae mollitia facilis sint architecto maiores nemo nam beatae nihil, saepe
          fugiat reprehenderit quos?</p>
      </div>
    </li>
    <li class="accordion-item">
      <input type="radio" name="accordion" id="fourth" data-status="unchecked">
      <label for="fourth">How can i get help if i encounter any problems</label>
      <div class="accordion-text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsa laborum non quo sapiente, assumenda
          esse placeat, voluptate harum doloribus excepturi odit est consequatur dolore magni, enim saepe hic. Iure.
          Tempore unde amet nulla iusto dolores maxime ad suscipit! Officia voluptas doloremque maiores maxime a
          placeat, cupiditate dolore iste. Quidem animi labore nihil? Sequi, reprehenderit! Qui consequuntur esse nisi
          deserunt?
          Distinctio quas laborum necessitatibus modi. At voluptatem architecto est ullam deleniti aperiam recusandae
          doloribus? Deserunt repudiandae vitae mollitia facilis sint architecto maiores nemo nam beatae nihil, saepe
          fugiat reprehenderit quos?</p>
      </div>
    </li>
  </ul>
</div>

<footer id="contact">
  <h5>Connect with us!</h5>
  <div class="inputs">
    <div class="name field">
      <label for="name">MY NAME IS</label>
      <input type="text" name="name" id="name">
    </div>
    <div class="email field">
      <label for="email">MY EMAIL IS</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="message field">
      <label for="message">I'D LIKE TO CHAT ABOUT</label>
      <input type="text" name="message" id="message">
    </div>
  </div>
  <button class="send-message" type="submit">SEND MESSAGE</button>
  <div class="social-media">
    <a href=""><img src="../static/media/instagram.png" alt="" srcset=""></a>
    <a href=""><img src="../static/media/facebook.png" alt="" srcset=""></a>
    <a href=""><img src="../static/media/twitter.png" alt="" srcset=""></a>
  </div>
</footer>
</body>

</html>